<!DOCTYPE HTML>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>数据统计</title>
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
	</head>

	<body>
		<div class="use_my_nav data_all">
			<p class="overflow">
				<a href="#"><label>上月预估收入(元)</label><span>23232元</span><strong class="blue">已结算</strong></a>
				<a href="#" class='noborder'><label>本月预估收入(元)</label><span>7878元</span><strong class="red">待结算</strong></a>
			</p>
		</div>
		<div class="information">
			<h2>
				<img src="../images/icon_6.png">
				<span >直接推荐用户<strong class="small">(共计121人)</strong></span>
			</h2>
			<table border="0" cellspacing="0" cellpadding="0" class="record_k">
				<tr>
					<th width="26%">一级直推</th>
					<th width="38%">团队人数</th>
					<th width="38%">团队订单</th>
				</tr>
				<tr>
					<td>张东海</td>
					<td>231人</td>
					<td>2452单</td>
				</tr>
				<tr>
					<td>李梦琪</td>
					<td>1231人</td>
					<td>24532单</td>
				</tr>
				<tr>
					<td>王旭</td>
					<td>2231人</td>
					<td>22452单</td>
				</tr>
				<tr>
					<td>王旭</td>
					<td>41人</td>
					<td>2452单</td>
				</tr>
				<tr>
					<td>王旭</td>
					<td>75人</td>
					<td>24542单</td>
				</tr>
			</table>
		</div>
	</body>
</html>