<!DOCTYPE HTML>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>个人主页</title>
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
	</head>

	<body>
		<div class="use_my_t">
			<label id="nickname"></label>
			<p id="xingxing">
			</p>
		</div>
		<div class="use_my_nav">
			<p class="overflow"><a href="/"><span>用户量</span><strong id="usernumber">85022</strong></a><a href="/" class='noborder'><span>订单量</span><strong id="ordernumber">85022</strong></a></p>
		</div>
		<div class="information">
			<h2>
				<img src="../images/icon_4.png">
				<span >收款账号信息</span>
				<a href="#" class="update">修改</a>
			</h2>
			<ul class="inf_me">
				<li><label>开户名：</label><span id="bankUserName"></span></li>
				<li><label>账号：</label><span id="bankAccount"></span></li>
				<li><label>开户行：</label><span id="bankName"></span></li>
			</ul>
		</div>
		<div class="information">
			<h2>
				<img src="../images/icon_5.png">
				<span >奖励发放记录</span>
			</h2>
			<table border="0" cellspacing="0" cellpadding="0" class="record_k" id="recordTable">
			</table>
		</div>
		<!--修改信息-->
		<div class="use_order_number overflow">
			<div class="use_login_x ">
				<input placeholder="开户名" type="text" id="ba"/>
			</div>
			<div class="use_login_x ">
				<input placeholder="账号" type="text" id="bu"/>
			</div>
			<div class="use_login_x ">
				<textarea placeholder="开户行" id="bn"></textarea>
			</div>
			<div class="use_order_sub overflow">
				<button class="determine" id="submityayay">确定</button><button class="cancel">取消</button>
			</div>
		</div>
		<div class="box"></div>
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$(".update").click(function() {
					$(".box").show();
					$(".use_order_number").show();
				})
				$(".cancel").click(function() {
					$(".box").hide();
					$(".use_order_number").hide();
				})

				$(".box").click(function() {
					$(".box").hide();
					$(".use_order_number").hide();
				})

                $('#submityayay').click(function () {
                   $.post("/api/update/user",{
                       ba:$("#ba").val(),
                       bu:$("#bu").val(),
                       bn:$("#bn").val(),
                   },function (r) {
                      if(r.data=="更新成功"){
                          alert(r.data);
                          window.location.reload();
                      }else{
                          alert(r.data);
                      }
                   });
                });

                $.get("/api/get/all",function (r) {
                    var htmlStr = "\n" +
                        "\t\t\t\t<tr>\n" +
                        "\t\t\t\t\t<th width=\"20%\">月份</th>\n" +
                        "\t\t\t\t\t<th width=\"40%\">奖励金额</th>\n" +
                        "\t\t\t\t\t<th width=\"40%\">发放时间</th>\n" +
                        "\t\t\t\t</tr>\n";
                    if(r.data==""){
                        $('#recordTable').html(htmlStr);
                    }else{
                        for(var index in r.data){
                            htmlStr +="<tr>\n" +
                                "\t\t\t\t\t<td>"+r.data[index].RewardMonth+"</td>\n" +
                                "\t\t\t\t\t<td>"+r.data[index].RewardMoney.toFixed(2)+"</td>\n" +
                                "\t\t\t\t\t<td>"+r.data[index].RewardSendTime+"</td>\n" +
                                "\t\t\t\t</tr>";
						}
                        $('#recordTable').html(htmlStr);
                    }
                });
				$.get("/api/get/user",function (r) {
					if(r.data==""){
					    alert("未找到用户信息");
					}else{
                        $('#bankUserName').html(r.data.BankUserName);
                        $('#bankAccount').html(r.data.BankUserAccount);
                        $('#bankName').html(r.data.BankName);
                        $('#nickname').html(r.data.UserNickName);
                        var level = parseInt(r.data.Level);
                        var xx = "";
                        for(i=1;i<=level;i++){
                            xx += "<img src=\"../images/icon_2.png\">";
						}
                        $('#xingxing').html(xx);
                        $('#usernumber').html(r.data.ChildUserNumber);
                        $('#ordernumber').html(r.data.ChildOrderNumber);
					}
                });
			})
		</script>
	</body>

</html>