
<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>支付</title>
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>

<body>
<div class="pay">
    <h2>成为合伙人 享多重特权</h2>
    <div class="ewm">
        <img src="{{ .img_src }}">
        <div class="pay_1">
            <img src="images/pay.jpg">
            <p>长按识别二维码<br />完成支付</p>
        </div>
    </div>
</div>
</body>
</html>